.connect{
  margin-top: 70px;
  position: relative;
}
.connect-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.want{
  font-size: 40px;
  margin-bottom: 5px;
}

.unlockyour{
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.meet{
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
  color: #FFC303;
  border-style: solid;
  border-color: #FFC303;
  width: 280px;
}

.student{
  height: 50px;
  background-color: #FFC303;
  border-radius: 25px;
  width: 280px;
  color: black;
  border-style: solid;
}
@media screen and (max-width:600px) {
  .want{
    font-size: 24px;
  }
  .buttons{
    flex-direction: column;
  }
  .meet{
    margin-bottom: 5px;
  }
}